<a href="https://colab.research.google.com/github/moheeb595/ASSIGNMENT-4/blob/master/simple_LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
ds=pd.read_csv("/content/datasets_56097_107686_headbrain.csv")

In [5]:
print(ds)

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [7]:
print(ds.shape)
ds.head()

(237, 4)

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [8]:
x=ds['Head Size(cm^3)']
y=ds['Brain Weight(grams)']

In [ ]:
print(x,y)

In [10]:
mean_x=np.mean(x)
mean_y=np.mean(y)

In [ ]:
m=len(x)
print(m)

In [14]:
nume=0
deno=0
for i in range(m):
  nume+=(x[i]-mean_x)*(y[i]-mean_y)
  deno+=(x[i]-mean_x)**2
b1=nume/deno
b0=mean_y-(b1*mean_x)

In [15]:
print(b1,b0)

0.26342933948939945 325.57342104944223

In [20]:
rnum=0
rden=0
for i in range(m):
  yp=b0+(b1*x[i])
  rnum+=(y[i]-mean_y)**2
  rden+=(y[i]-yp)**2
r2=1-(rden/rnum)
print(r2)

0.6393117199570003